@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
    font-family:"Linguagemparanormal";
    src: local("Linguagemparanormal"), url("pages/desktop/fonts/Linguagemparanormal-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
button{
    background-color: transparent;
    border: 0;
}
ul{
    list-style: none;
}
.sinais{
    font-family:"Linguagemparanormal";
}
@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}
.spin{
    width: 200px;
    height: 200px;
	transform: rotateY(45deg);
	animation: rotateAnimation 1s linear infinite;
}
